@page "/CClientes"
@page  "/CClientes/{I:int}"
<div class="card bg-info text-light">
    
       
            <div class="card-body ">
                <h3>Consulta Clientes</h3>
                <div class="form-inline">

                    <label for="filtro">Filtro</label>
                    <div class="form-group mx-sm-3 mb-2">
                        <select class="form-control" @bind="Filtro">
                            <option value="" disabled selected>Seleccione un Criterio</option>
                            <option value="Todo">Todo</option>
                            <option value="Id">Id</option>
                            <option value="Nombres">Nombres</option>
                            <option value="Usuario">Usuario</option>
                            <option value="Email">Email</option>
                        </select>
                    </div>
                    <label for="criterio"> Criterio</label>
                    <div class="form-group mx-sm-3 mb-2">

                        <input type="search" class="form-control" @bind-value="Criterio" />
                    </div>

                    <button type="button" class="btn btn-success mx-sm-3 mb-2" @onclick="Buscar">Buscar</button>

                </div>
                <br />

                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th>ClienteId</th>
                            <th>Nombre</th>
                            <th>Telefono</th>
                            <th>Email</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in lista)
                        {
                            <tr>
                                <th>@item.ClienteId</th>
                                <th>@item.Nombre</th>
                                <th>@item.Telefono</th>
                                <th>@item.Email</th>
                                <td><a class="btn btn-primary" href="RClientes/@item.ClienteId">Ver</a></td>

                            </tr>
                        }

                    </tbody>
                </table>

                <nav aria-label="...">
                    <ul class="pagination pagination-lg">
                        @for (int i = 1; i <= totaldepaginas; i++)
                        {
                            <li class="page-item"><a class="page-link" @onclick="OnInitialized" href="CUsuario/@i">@i</a></li>
                        }

                    </ul>
                </nav>

                <h5>@mensaje</h5>
            </div>
        
    
</div>


@code {

    public List<Clientes> lista { get; set; }
    public ControllersCliente controllers = new ControllersCliente();

    [Parameter]
    public int I { get; set; }
    private int Contador { get; set; }
    private int contCiclo { get; set; }

    Paginacion paginacion = new Paginacion();
    public double totaldepaginas { get; set; }

    Contexto Contexto = new Contexto();
    double conteo = 0;
    private string Filtro { get; set; }
    private string Criterio { get; set; }
    private string mensaje;

    protected override async Task OnInitializedAsync()
    {
        lista = new List<Clientes>();

    }

    private void Buscar()
    {

        try
        {
            Cargar();

            if (Filtro == null)
            {
                Filtro = "Todo";

            }

            lista = controllers.GetList(a => true);

            if (lista.Count == 0)
            {
                mensaje = "No hay clientes registrado";
            }
            else
            {
                mensaje = "";
                switch (Filtro)
                {
                    case "Todo":
                        lista = controllers.GetList(e => true);
                        break;
                    case "Id":
                        lista = controllers.GetList(e => e.ClienteId == Convert.ToInt32(Criterio));
                        break;
                    case "Nombres":
                        lista = controllers.GetList(e => e.Nombre == Criterio);
                        break;
                    case "Usuario":
                        lista = controllers.GetList(e => Convert.ToString(e.Telefono) == Criterio);
                        break;
                    case "Email":
                        lista = controllers.GetList(e => e.Email == Criterio);
                        break;
                }

            }

        }
        catch (Exception)
        {
            throw;
        }
    }

    private void Cargar()
    { 
          conteo = Contexto.Clientes.Count();
          totaldepaginas = Math.Ceiling(conteo / paginacion.CantidadMostrar);
          this.lista = Contexto.Clientes.Take(paginacion.CantidadMostrar).ToList();   
    }


}
