@page "/CClientes"
@page  "/CClientes/{I:int}"
<div class="card bg-dark text-light">
    <div class="card-body ">
        <div class="card bg-dark text-light">
            <div class="card-body ">
                <h1>Consulta Clientes</h1>
                <br />

                <table class="table">
                    <thead>
                        <tr>
                            <th>ClienteId</th>
                            <th>Nombre</th>
                            <th>Telefono</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in lista)
                        {
                            <tr>
                                <th>@item.ClienteId</th>
                                <th>@item.Nombre</th>
                                <th>@item.Telefono</th>
                                <th>@item.Email</th>
                                <td><a class="btn btn-info" href="RClientes/@item.ClienteId">Ver</a></td>

                            </tr>
                        }

                    </tbody>
                </table>

                <nav aria-label="...">
                    <ul class="pagination pagination-lg">
                        @for (int i = 1; i <= totaldepaginas; i++)
                        {
                            <li class="page-item"><a class="page-link" @onclick="OnInitialized" href="CUsuario/@i">@i</a></li>
                        }

                    </ul>
                </nav>

                <h5 class="text-success">@mensaje</h5>
            </div>
        </div>
    </div>
</div>


@code {

    public List<Clientes> lista { get; set; }
    public ControllersCliente controllers = new ControllersCliente();

    [Parameter]
    public int I { get; set; }
    private int Contador { get; set; }
    private int contCiclo { get; set; }

    Paginacion paginacion = new Paginacion();
    public double totaldepaginas { get; set; }

    Contexto Contexto = new Contexto();
    double conteo = 0;

    private string mensaje;

    protected override async Task OnInitializedAsync()
    {
        conteo = Contexto.Clientes.Count();
        totaldepaginas = Math.Ceiling(conteo / paginacion.CantidadMostrar);
        lista = controllers.GetList(P => true);
        this.lista = Contexto.Clientes.Take(paginacion.CantidadMostrar).ToList();
    }

}
