@page "/CPedidos"
@page  "/CPedidos/{I:int}"
<div class="card bg-dark text-light">
    <div class="card-body ">
        <h3>Consulta de Pedidos</h3>

        <div class="form-group row">
            <label for="filtro">Filtro</label>
            <div class="input-group col-md-8">
                <select class="form-control " @bind="Filtro">
                    <option value="" disabled selected>Seleccione un Criterio</option>
                    <option value="Todo">Todo</option>
                    <option value="Id">Id</option>
                    <option value="ClienteId">ClienteId</option>
                    <option value="FormaPedido">FormaPedido</option>
                    <option value="Total">Total</option>
                </select>

                <div align="right" class="input-group col-md-6">
                    <label for="criterio"> Criterio&nbsp;&nbsp; </label>
                    <input type="search" class="form-control" @bind-value="Criterio" />
                </div>
                <button type="button" class="btn btn-success" @onclick="Buscar">Buscar</button>
            </div>
        </div>

        <div class="form-group row">
            <input class="ml-1" type="checkbox" @bind-value="BuscarFecha" id="defaultCheck1"> Filtrar por Fecha
            <div class="input-group  col-sm-6">
                <label for="DesdeFecha" class="col-md-2">Desde</label>
                <input id="DesdeFecha" type="date" @bind-value="DesdeFecha" class="form-control col-6 " input />
                <label for="HastaFechaInput" class="col-md-2">Hasta</label>
                <input type="date" Id="HastaFechaInput" @bind-value="HastaFecha" class="form-control col-6" />
            </div>
        </div>


        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>PedidosId</th>
                    <th>ClienteId</th>
                    <th>Forma Pedido</th>
                    <th>Total</th>
                    <th>Fecha Ingreso</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in lista)
                {
                    <tr>
                        <th>@item.PedidosId</th>
                        <th>@item.ClienteId</th>
                        <th>@item.FormaPedido</th>
                        <th>@item.Total</th>
                        <th>@item.FechaPedido.ToString("dd/MM/yyyy")</th>
                        <td><a class="btn btn-sm btn-outline-primary" href="RPedidos/@item.PedidosId">Ver</a></td>
                    </tr>
                }
            </tbody>
        </table>
        <nav aria-label="...">
            <ul class="pagination pagination-lg">
                @for (int i = 1; i <= totaldepaginas; i++)
                {
                    <li class="page-item"><a class="page-link" @onclick="OnInitialized" href="CUsuario/@i">@i</a></li>
                }

            </ul>
        </nav>

        <h5 class="text-success">@mensaje</h5>
    </div>
</div>

@code {

    private List<Pedidos> lista { get; set; }
    public ControllersPedido controller = new ControllersPedido();

    [Parameter]
    public int I { get; set; }
    private int Contador { get; set; }
    private int contCiclo { get; set; }

    Paginacion paginacion = new Paginacion();
    public double totaldepaginas { get; set; }

    Contexto Contexto = new Contexto();
    double conteo = 0;

    private string Filtro { get; set; }
    private string Criterio { get; set; }
    private string mensaje;

    public bool BuscarFecha { get; set; }
    public DateTime DesdeFecha { get; set; }
    public DateTime HastaFecha { get; set; }


    protected override void OnInitialized()
    {

        conteo = Contexto.Pedidos.Count();
        totaldepaginas = Math.Ceiling(conteo / paginacion.CantidadMostrar);
        
        lista = new List<Pedidos>();
        this.lista = Contexto.Pedidos.Take(paginacion.CantidadMostrar).ToList();
        DesdeFecha = DateTime.Now;
        HastaFecha = DateTime.Now;
    }

    private void Buscar()
    {

        try
        {
            if (Filtro == null)
            {
                mensaje = "Debe seleccionar un Criterio";
            }
            else
            {
                lista = controller.GetList(a => true);

                if (lista.Count == 0)
                {
                    mensaje = "No hay Pedidos Registrado";
                }
                else
                {
                    mensaje = "";
                    switch (Filtro)
                    {
                        case "Todo":
                            lista = controller.GetList(e => true);
                            break;
                        case "Id":
                            lista = controller.GetList(e => e.PedidosId == Convert.ToInt32(Criterio));
                            break;
                        case "Cliente":
                            lista = controller.GetList(e => e.ClienteId == Convert.ToInt32(Criterio));
                            break;
                        case "FormaPedido":
                            lista = controller.GetList(e => e.FormaPedido == Criterio);
                            break;
                        case "Total":
                            lista = controller.GetList(e => e.Total == Convert.ToDecimal(Criterio));
                            break;
                    }
                    if (BuscarFecha == true)
                    {
                        lista = controller.GetList(p => p.FechaPedido >= DesdeFecha.Date && p.FechaPedido <= HastaFecha.Date);
                    }
                }
            }
        }
        catch (Exception)
        {
            throw;
        }
    }
}
