@page "/CProveedores"
@page  "/CProveedores/{I:int}"

    <style>
        a {
            text-decoration: none;
            display: inline-block;
            padding: 8px 16px;
        }

            a:hover {
                background-color: #ddd;
                color: black;
            }

        .previous {
            background-color: #808080;
            color: black;
        }

        .next {
            background-color: #4CAF50;
            color: white;
        }

        .round {
            border-radius: 50%;
        }
    </style>

<div class="card bg-info text-light">
    <div class="card-body ">
        <h3>Consulta proveedores</h3>

        <div class="form-inline">

            <label for="filtro">Filtro</label>
            <div class="form-group mx-sm-3 mb-2">
                <select class="form-control" @bind="Filtro">
                    <option value="" disabled selected>Seleccione un Criterio</option>
                    <option value="Todo">Todo</option>
                    <option value="Id">Id</option>
                    <option value="Nombres">Nombres</option>
                    <option value="Usuario">Usuario</option>
                    <option value="Email">Email</option>
                </select>
            </div>
            <label for="criterio"> Criterio</label>
            <div class="form-group mx-sm-3 mb-2">

                <input type="search" class="form-control" @bind-value="Criterio" />
            </div>

            <button type="button" class="btn btn-success mx-sm-3 mb-2" @onclick="Buscar">Buscar</button>

        </div>
        <br />

        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>ProveedoresId</th>
                    <th>Nombres</th>
                    <th>Telefono</th>
                    <th>Direccion</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (listaPaginado.Count == 0)
                {
                    <tr>
                        <th colspan="12" style="color:white; text-align: center">"No hay datos que mostrar"</th>
                    </tr>
                }
                else
                {

                    @foreach (var item in listaPaginado)
                    {
                        <tr>
                            <th>@item.ProveedorId</th>
                            <th>@item.Nombres</th>
                            <th>@item.Telefono</th>
                            <th>@item.Direccion</th>
                            <td><a class="btn btn-primary" href="RProveedores/@item.ProveedorId">Ver</a></td>

                        </tr>
                    }
                }
                </tbody>
        </table>

        <a class="previous" @onclick="Anterior">&laquo; Previous</a>
        <a class="next" @onclick="Siguiente">Next &raquo;</a>

        <h5>@mensaje</h5>

    </div>
</div>

@code {

    public List<Proveedores> lista { get; set; }
    public List<Proveedores> listaPaginado { get; set; }
    public ControllersProveedores controllers = new ControllersProveedores();
    [Parameter]
    public int I { get; set; }



    Paginacion paginacion = new Paginacion();


    private string Filtro { get; set; }
    private string Criterio { get; set; }
    Contexto Contexto = new Contexto();
    double conteo = 0;

    private string mensaje;
        
    double paginas = 0;
    double cantidad = 0;
    int paginaActual = 0;

    protected override async Task OnInitializedAsync()
    {
        lista = controllers.GetList(p => true);
        listaPaginado = new List<Proveedores>();
    }
    
    private void Paginar()
    {

        paginaActual = 1;
        cantidad = lista.Count();
        paginas = Math.Ceiling(cantidad / paginacion.Mostrar);
        listaPaginado = lista.Take(paginacion.Mostrar).ToList();
    }
    private void Buscar()
    {

        try
        {
               Paginar();

            if (Filtro == null)
            {
                Filtro = "Todo";

            }

            lista = controllers.GetList(a => true);

            if (lista.Count == 0)
            {
                mensaje = "No hay clientes registrado";
            }
            else
            {
                mensaje = "";
                switch (Filtro)
                {
                    case "Todo":
                        lista = controllers.GetList(e => true);
                        break;
                    case "Id":
                        lista = controllers.GetList(e => e.ProveedorId == Convert.ToInt32(Criterio));
                        break;
                    case "Nombres":
                        lista = controllers.GetList(e => e.Nombres == Criterio);
                        break;
                    case "Usuario":
                        lista = controllers.GetList(e => Convert.ToString(e.Telefono) == Criterio);
                        break;
                    case "Email":
                        lista = controllers.GetList(e => e.Direccion == Criterio);
                        break;
                }

            }

        }
        catch (Exception)
        {
            throw;
        }
    }
      private void Siguiente()
    {
        if (paginaActual < paginas)
        {
            paginaActual++;
            listaPaginado = lista
                .Skip((paginaActual - 1) * paginacion.Mostrar)
                .Take(paginacion.Mostrar)
                .ToList();

        }
    }

    private void Anterior()
    {
        if (paginaActual > 1)
        {
            paginaActual--;
            listaPaginado = lista
                .Skip((paginaActual - 1) * paginacion.Mostrar)
                .Take(paginacion.Mostrar)
                .ToList();
        }
    }
}
